html {
    font-size: 18px;
}
body {
    background-color: peachpuff;
    margin: 20px;
}

div {
    color: #333;
    padding: 20px;
    & a {
        display: inline-block;
        text-decoration: none;
    }
}

#box1 {
    font-size: 40px;
    border: 3px solid red;
    border-radius: 20px;
    background-color: #ffbe76;
    & > a {
        color: #e74c3c;
        &:hover {
            color: black;
            text-decoration: line-through;
        }
    }
    &:hover {
        background-color: #ccc;
    }
    & #box2 {
        background-color: #eee;
        font-size: 15px;
        border: 3px solid #8e44ad;
        border-radius: 20px;
        box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.75);
        & > a {
            color: #e67e22;
            &:hover {
                color: #c0392b;
                font-weight: bold;
                text-decoration: underline;
            }
        }
    }
}
